---
import {getLanguages} from "@scripts/i18n/getLanguages";
export function getStaticPaths(){
	return getLanguages();
};
const { language } = Astro.params;
import {useTranslations} from "@scripts/i18n/utils";
//@ts-expect-error
const t = useTranslations(language);

import Header from "@components/Header.astro"

---

<html lang=`${language}`>
    <Header title={t("game")} />
    <body>
        <h1>{language}</h1>
    </body>
</html>