---
import {getLanguages} from "@scripts/i18n/getLanguages";
export function getStaticPaths(){
	return getLanguages();
};
const { language } = Astro.params;

import { getRelativeLocaleUrl } from 'astro:i18n';

import {useTranslations} from "@scripts/i18n/utils";
//@ts-expect-error
const t = useTranslations(language);

import Header from "@components/Header.astro"
import Titulo from "@components/Titulo.astro"
import '@styles/global.css';
---

<html lang=`${language}`>
	<Header title={t("title")} />
	<body>
		<Titulo/>
		<form>
  			<button formaction={getRelativeLocaleUrl(language, "game")}>{t("start")}</button>
		</form>

	</body>

</html>
